<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> N/A </title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

 <body>
{{!-- add the bones to the site within here --}}
    <header>
      <h1>
        Tech Blog
      </h1>
    </header>
    <nav>
      <div>
        <a href="/">Home</a>
      </div>
      {{#if logged_in}}
      <div>
        <a href="/logout">Logout</a>
      </div>
      {{else}}
      <div>
        <a href="/login">Login/Sign Up</a>
      </div>
    </nav>
    <main>
      {{#if logged_in}}
    </main>
    <script src="/js/logout.js"> </script>
    {{#if}}
</body>
</html>
